
.todo-read {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template: "text done";
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
}

.todo-text {
    grid-template-areas: text;
}

.todo-done {
    grid-template-areas: done;
}

